DATABASE_URL=
SESSION_ID=
REMOVEBG_KEY=
PREFIX=.
MODE=public
AutoReaction=true
STATUSVIEW=true
OWNERS=923092668108;PRINCE
antidelete=true
BOT_NAME=Prince
DL_MSG=Downloaded successfully
ANTI_LINK=true
ANTI_CALL=false
VIEWONCE=true
Status_Saver=true
REPLY_STATUS=true
STATUS_MSG=🩵ʏᴏᴜʀ sᴛᴀᴛᴜs sᴇᴇɴ sᴜᴄᴄᴇssғᴜʟʟʏ😍 😎ʙʏ *ᴘʀɪɴᴄᴇ ᴍᴅ* ᴡʜᴀᴛsᴀᴘᴘ ʙᴏᴛ🩵
AUTOREAD=false
